<div class="page">
  <div class="page-header">
    <h1>{{ langService.t('faq.title') }}</h1>
    <p>{{ langService.t('faq.subtitle') }}</p>
  </div>

  <div class="faq-container">

    <div class="faq-category clickable" (click)="toggleCovoiturage()" *ngIf="langService.currentLang() === 'fr'">
      <h2 class="category-title">🚗 Mode Covoiturage <span class="faq-chevron" [class.open]="covoiturageOpen">&#9662;</span></h2>
    </div>
    <div class="faq-category clickable" (click)="toggleCovoiturage()" *ngIf="langService.currentLang() === 'ki'">
      <h2 class="category-title">🚗 Ubwoko bwa Covoiturage <span class="faq-chevron" [class.open]="covoiturageOpen">&#9662;</span></h2>
    </div>

    @if (covoiturageOpen) {
      <div class="card" *ngFor="let faq of faqs; let i = index">
        <div class="faq-question-static">
          <span>{{ langService.t(faq.qKey) }}</span>
        </div>
        <div class="faq-answer open">
          <p [innerHTML]="langService.t(faq.aKey)"></p>
        </div>
      </div>
    }

    <div class="faq-category clickable taxi" (click)="toggleTaxi()" *ngIf="langService.currentLang() === 'fr'">
      <h2 class="category-title">🚕 Mode Taxi <span class="faq-chevron" [class.open]="taxiOpen">&#9662;</span></h2>
    </div>
    <div class="faq-category clickable taxi" (click)="toggleTaxi()" *ngIf="langService.currentLang() === 'ki'">
      <h2 class="category-title">🚕 Ubwoko bwa Taxi <span class="faq-chevron" [class.open]="taxiOpen">&#9662;</span></h2>
    </div>

    @if (taxiOpen) {
      <div class="card" *ngFor="let faq of taxiFaqs; let i = index">
        <div class="faq-question-static">
          <span>{{ langService.t(faq.qKey) }}</span>
        </div>
        <div class="faq-answer open">
          <p [innerHTML]="langService.t(faq.aKey)"></p>
        </div>
      </div>
    }

  </div>
</div>
