
<app-modal [open]="open" [title]="langService.t('review.title')" size="sm" (close)="cancel()">

  @if (errorMsg) { <div class="alert alert-error">{{ errorMsg }}</div> }
  @if (successMsg) { <div class="alert alert-success">{{ successMsg }}</div> }
  <div class="review-form">

    <div class="stars-row">
      <app-rating-stars
              [rating]="rating"
              [interactive]="true"
              (ratingChange)="rating = $event"
      />
    </div>


    <div class="form-group">
      <label>{{ langService.t('review.comment') }}</label>
      <textarea
              class="input textarea"
              [(ngModel)]="comment"
              [placeholder]="langService.t('review.comment.placeholder')"
              rows="4"
              [disabled]="loading"
      ></textarea>
    </div>

    <div class="actions">
      <button
              class="btn btn-primary btn-full"
              (click)="submit()"
              [disabled]="!rating || loading"
      >
        @if (loading) {
        <span class="spinner"></span>
        }
        {{ langService.t('review.submit') }}
      </button>

      <button
              class="btn btn-secondary btn-full"
              type="button"
              (click)="cancel()"
              [disabled]="loading"
      >
        {{ langService.t('common.cancel') }}
      </button>
    </div>

  </div>
</app-modal>
