<!--
<h2>Laisser un avis</h2>

<p>Comment s'est passé votre trajet ?</p>

&lt;!&ndash; Rating simple &ndash;&gt;
<div>
    <button (click)="setRating(1)">⭐</button>
    <button (click)="setRating(2)">⭐</button>
    <button (click)="setRating(3)">⭐</button>
    <button (click)="setRating(4)">⭐</button>
    <button (click)="setRating(5)">⭐</button>
</div>

<p>Note : {{ rating }}/5</p>

&lt;!&ndash; Commentaire &ndash;&gt;
<textarea
        [(ngModel)]="comment"
        placeholder="Votre commentaire..."
></textarea>

&lt;!&ndash; Erreur &ndash;&gt;
<p *ngIf="errorMsg" style="color:red">{{ errorMsg }}</p>

&lt;!&ndash; Actions &ndash;&gt;
<button (click)="close()">Annuler</button>

<button (click)="submit()" [disabled]="loading">
    {{ loading ? 'Envoi...' : 'Envoyer' }}
</button>-->
